
.generated-table{
  font: normal normal normal 14px/1 FontAwesome;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 90%;
  height: 100%;
  margin: auto auto 1% auto;
  border: 1px solid #cfcfcf;
  background-color: white;
}

.table-row {
  display: flex;
  position: relative;
}

.table-cell{
  height: 100%;
  display: inline-flex;
  overflow:hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  color: #6e6e6e;

}

.headline{
  font-size: 70%;
  color: #969696;
  display: inline-block;
  padding: 0 1%;
}

.table-header{
  display: inline-block;
  background-color: #e0e0e0;
  width: 89.5%;
  margin: auto 5% 1px 5%;
  overflow:hidden;

}


.table-cell:not(:first-child){
  border-left: 1.5px solid #e0e0e0;
  height: auto;
  margin: 1% 0;
}

.table-cell:first-child {
  width: 30%;
  display: inline-table;
}


.table-cell:not(:first-child) {
  width: 20%;
}

.headline:not(:first-child){
  width: 18%;
}

.headline:first-child {
  width: 28%;
  display: inline-table;
}

.dropdown-btn{
  position: absolute;
  bottom: 3%;
  right: 3%;
  color: darkgrey;
}



