.expanded-info-comp{
  border-top: 1.5px solid #e0e0e0;
  height: 40px;

}

.date{
  width: 50%;
  color: #6e6e6e;
  font-size: 13px;
  margin-left: 20%;
}

.hits{
  width: 50%;
  margin-left: 40%;
  color: #6e6e6e;
  font-size: 13px;
}

.expanded-info-values{
  width: 50%;
  padding-top: 1%;
  padding-right: 0.2%;
  padding-bottom: 1%;
  display: inline-table;
  border-right: 1.5px solid #cfcfcf;
}
